<footer class="bg-dark text-center text-white">
    <!-- Footer Links -->
    <br>
   <div class="container-fluid text-center text-md-left">
 
     <!-- Grid row -->
     <div class="row">
 
       <!-- Grid column -->
       <div class="col-md-6 mt-md-0 mt-3">
 
         <!-- Content -->
         <h5 class="text-uppercase">Contacto</h5>
         <p>+569 34562312</p>
         <p> Manuel de Tezanos 4422, Providencia</p>
         <p> contacto@tiendadeportiva.cl</p>
       </div>
       <!-- Grid column -->
 
       <hr class="clearfix w-100 d-md-none pb-3">
 
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
 
         <!-- Links -->
         <h5 class="text-uppercase">Empresa</h5>
 <hr>
         <ul class="list-unstyled">
           <li>
             <a href="#!" style="color:aliceblue">Politica de la Empresa</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue">Trabaja con Nosotros</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue">Noticias Corporativas</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue">La Compañia</a>
           </li>
         </ul>
 
       </div>
       <!-- Grid column -->
 
       <!-- Grid column -->
       <div class="col-md-3 mb-md-0 mb-3">
 
         <!-- Links -->
         <h5 class="text-uppercase">Post-Venta</h5>
         <hr>
 
         <ul class="list-unstyled">
           <li>
             <a href="#!" style="color:aliceblue"> Preguntas Frecuentes</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue"> Rastrea tu Pedido</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue"> Cambios y Devoluciones</a>
           </li>
           <li>
             <a href="#!" style="color:aliceblue"> Servicio al Cliente</a>
           </li>
         </ul>
 
       </div>
       <!-- Grid column -->
 
     </div>
     <!-- Grid row -->
 
   </div>
   <!-- Footer Links -->
 <br>
         <!-- Copyright -->
         <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
           © 2021 Derechos de Autor.
           <br>
           <a class="text-white" >Tienda Deportiva</a>
         </div>
         <!-- Copyright -->
       </footer>
